<launch>
    <include file="$(find holly_tf)/launch/start.launch" />
    <include file="$(find holly_status)/launch/start.launch" />
    <include file="$(find holly_sensors)/launch/start.launch" />
    <!--<include file="$(find holly_sensors)/launch/environment-start.launch" />-->
    <include file="$(find holly_motors)/launch/start.launch" />
    <include file="$(find holly_imu)/launch/start.launch" />
    <include file="$(find holly_opti_flow)/launch/start.launch" />
    <include file="$(find holly_rplidar)/launch/start.launch" />
</launch>