<launch>

    <include file="$(find amcl)/examples/amcl_omni.launch" />

    <node pkg="costmap_2d" type="costmap_2d_node" name="nav_test" output="screen">
        <rosparam file="$(find holly_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find holly_navigation)/config/local_costmap_params.yaml" command="load" />
    </node>

</launch>