<launch>
    <node pkg="holly_imu" type="imu.py" name="holly_imu" output="screen" />
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="holly_imu_fusion" output="screen" />
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
        <param name="imu0" value="/imu/data_raw" />
        <param name="print_diagnostics" value="true" />
    </node>
</launch>