<launch>
    <node pkg="holly_imu" type="imu.py" name="holly_imu" output="screen" />
    <node pkg="holly_tf" type="odom.py" name="holly_odom" output="screen" />
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node" output="screen">
        <param name="imu0" value="/imu/data" />
        <param name="imu0_relative" value="false"/>
        <param name="imu0_differential" value="false"/>
        <rosparam param="imu0_config">[false, false, true,
                               true, true, true,
                               false, false, false,
                               true, true, true,
                               false, false, false]</rosparam>
        <param name="odom0" value="/optical_flow/odom" />
        <param name="odom0_differential" value="false"/>
        <rosparam param="odom0_config">[false, false, true,
                                false, false, false,
                                true,  true, false,
                                false, false, false,
                                false, false, false]</rosparam>
        <param name="print_diagnostics" value="true" />
        <param name="two_d_mode" value="false" />
    </node>
</launch>