<launch>
    <node pkg="holly_sensors" type="light-sensor.py" name="light_sensor" output="screen" />
    <node pkg="holly_sensors" type="lux-sensor.py" name="lux_sensor" output="screen" />
    <node pkg="holly_sensors" type="pressure-sensor.py" name="pressure_sensor" output="screen" />
    <node pkg="holly_sensors" type="front-distance.py" name="front_distance_sensor" output="screen" />
</launch>